<html ut>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>David Bourgault</title>
		<link rel="stylesheet" href="assets/main.css">
	</head>

	<body>
		<video id="hero-vid" playsinline autoplay loop muted>
			<source type="video/webm" src="assets/media/gits.webm" />
		</video>
		<div id="app" :class=lang>
			<div id="hero" class="flex">
				<div id="nav" class="flex mono">
					<div id="nav-language">
						<span class="lang-button"><span v-on:click="setlang('en')" class="en">English</span> / <span v-on:click="setlang('fr')" class="fr">Français</span></span>
					</div>
				</div>

				<span id="title">David Bourgault</span>
				<span id="subtitle">{{ loc.hero.subtitle[lang] }}</span>

				<div id="contact" class="flex mono">
					<span>
						<span><a href="mailto:contact@davidbourgault.ca">contact@davidbourgault.ca</a></span> / <span><a href="https://www.linkedin.com/in/davidbourgault/">linkedin.com/in/davidbourgault</a></span>
					</span>
				</div>
			</div>

			<div id="main">
				<div id="cv" class="content">
					<div v-for="section in loc.cv.sections" class="cv-section">
						<div class="cv-section-title">
							<span>{{ section.title[lang] }}</span>
						</div>

						<div v-for="item in section.items" class="cv-item flex">
							<div class="cv-item-date">
								<div v-for="date in item.dates">
									<span class="cv-item-date-range">{{ date.start }} - {{ date.end ? date.end : loc.loc.present[lang] }}<br /></span>
									<span v-if="date.title[lang]" class="cv-item-date-title">{{ date.title[lang] }}<br /></span>
								</div>
							</div>

							<div class="cv-item-info">
								<div class="cv-item-header flex">
									<span>{{ item.title[lang] }}</span>
									<span><a :href="item.org.link[lang]">{{ item.org.name }}</a></span>
								</div>
								<div class="cv-item-body">
									<ul>
										<li v-for="task in item.tasks">{{ task[lang] }}</li>
									</ul>
								</div>
								<div class="mono">
									<span v-for="tool in item.tools" class="cv-item-tool">{{ tool }}</span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="cv-links flex mono">
						<a :href="loc.cv.pdf.link[lang]">{{ loc.cv.pdf.text[lang] }}</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="assets/main.js"></script>
	<script>console.log(locale)</script>
</html>
