/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&family=Source+Code+Pro&display=swap');

/* Style */
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

video#hero-vid {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    min-width: 100vw;
    min-height: 100vh;
    z-index: -999;
}

div#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    position: absolute;
    top: 0;
    left: 0;

    height: 2em;
    width: 100%;

    color: white;
    font-family: 'Source Code Pro', monospace;
}

div#nav-language {
    margin-right: 1em;
}

span.lang-button:hover {
    cursor: pointer;
}

div#app.en .lang-button .en {
    text-decoration: underline;
}

div#app.fr .lang-button .fr {
    text-decoration: underline
}

div#hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 66vh;

    background-image: radial-gradient(circle at 3px 3px, #222 0%, transparent 150%);
    background-size: 6px 6px;
}

div#contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 1em;
    left: 0;

    height: 2em;
    width: 100%;

    color: white;
    font-family: 'Source Code Pro', monospace;
}

div#contact a {
    /* text-decoration: none; */
    color: white;
}

span#title, span#subtitle {
    text-transform: uppercase;
    color: #ffffff
}

span#title {
    font-size: 6rem;
    font-weight: 900;
}

span#subtitle {
    font-size: 2rem;
    font-weight: 300;
}

div#main {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: white;
}

div.content {
    margin: auto;
    max-width: 800px;
}

div.cv-item, div.cv-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.cv-section-title {
    margin-bottom: 0.5em;
    font-size: 1.5rem;
    font-weight: 600;
}

div.cv-item {
    margin-bottom: 2em;
}

div.cv-item-date {
    width: 20%;
}

div.cv-item-info {
    width: 80%;
}

div.cv-item-date > div {
    margin-bottom: 0.25em;
}

div.cv-item-header span {
    font-weight: 600;
}

div.cv-item-header a {
    text-decoration: none;
    color: black;
}

span.cv-item-date-title {
    font-style: italic;
}

div.cv-item-body ul {
    margin: 0.25em;
    padding-left: 1em;
}

div.cv-item-body li {
    list-style: square;
    margin-bottom: 0.25em;
}

span.cv-item-tool {
    font-family: 'Source Code Pro', monospace;
}

span.cv-item-tool:not(:last-child)::after {
    font-family: 'Source Code Pro', monospace;
    content: " / ";
    padding-left: 0.25em;
    padding-right: 0.25em;
}